#tube {
  height: calc(100vh - 100px - 2rem - 5px - 4px);
  width: 300px;
}

#tube_head {
  width: 400px;
  height: 100px;
}

main {
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tube_head,
#tube {
  background-color: rgba(0, 128, 0, 0.644);
  border: 5px solid black;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
  z-index: 3;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#metric {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background-color: white;
}

#join {
  transition: 2s;
  font-size: 1rem !important;
}
