body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

body > div {
  width: 512px;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
}

body > div > div {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: row;
}

audio {
  width: 512px;
  margin-bottom: 1rem;
}

input {
  width: calc(512px - 3rem - 2 * 0.5rem);
}

body > div > div > span {
  padding: 1rem;
}

#c {
  margin: 1rem 0;
}
